@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 25% 27%;
    --border: 0 0% 88%;
    --input: 0 0% 88%;
    --ring: 180 100% 33%;
  }

  .dark {
    --background: 210 100% 10%;
    --foreground: 0 0% 88%;
    --border: 210 100% 25%;
    --input: 210 100% 25%;
    --ring: 180 100% 33%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
